@keyframes moveInLeft {
    0% {
        opacity: 0;

        // transform: translate(-5);
    }

    80% {
        opacity: 50;

        //transform: translate(2%);
    }

    100% {
        opacity: 1;

        // transform: translate(0%);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




@keyframes frombelow {
    0% {
        transform: translateY(-120px);
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        transform: translate(0px);
        opacity: 1;
    }
}