.u-text-centre {
    text-align: center !important;
}

.u-margin-bottom-big {
    margin-top: 8rem;
    margin-bottom: 16rem !important;
}

.u-margin-bottom-small {
    margin-bottom: 1rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
    //margin-top: 8rem;
    margin-left: 15rem !important;
    //margin: 0 auto!important;
    padding: 2rem !important;
}